* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  color: rgb(97, 60, 11);
  background-image: url("https://i.ibb.co/XxP5zY61/potato-pasture.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
#header-grid {
  display: grid;
  grid-template-areas:
    "nav nav nav"
    "title title title";
}
#header {
  font-size: 4rem;
  display: flex;
  position: fixed;
  background-color: rgba(255, 235, 205, 0.632);
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1.5rem;
  border-radius: 20px;
  grid-area: nav;

  width: 100vw;
}
#header-img {
  width: 7rem;
}
#nav-bar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 80%;
}
a {
  text-decoration: none;
  color: rgb(97, 60, 11);
  text-shadow: 2px 2px 2px goldenrod;
}
a:visited {
  color: rgb(97, 60, 11);
  text-shadow: 2px 2px 2px goldenrod;
}

h1 {
  text-shadow: 2px 2px 2px goldenrod;
  font-size: 15rem;
  grid-area: title;
  text-align: center;
  margin: 10rem 0;
}
h2 {
  font-size: 10rem;
}
h3 {
  font-size: 7.5rem;
}
p {
  font-size: 5rem;
  font-weight: bold;
}

ul {
  list-style-type: none;
  padding-left: 0;
}
li {
  margin: 5rem;
}
.main-content {
  display: grid;
  grid-template-areas:
    "list-item1 video"
    "list-item2 video"
    "list-item3 video";
  column-gap: 2rem;
  margin-top: 0;
  margin-bottom: 4rem;
}

#happy,
#strong,
#tasty {
  border-radius: 15%;
  background-color: rgba(255, 235, 205, 0.632);
  margin: 10rem 0 0 2rem;
  display: grid;
  grid-area: list-item1;
}
#happy {
  grid-area: list-item1;
}
#strong {
  grid-area: list-item2;
}
#tasty {
  grid-area: list-item3;
}
#video-section {
  align-items: center;
  color: rgb(97, 60, 11);
  justify-items: center;
  text-align: center;
  display: grid;
  grid-area: video;
}
#video-section h3 {
  text-shadow: 2px 2px 2px goldenrod;
  margin: 0;
}
#video-section form {
  border-radius: 10px;
  background-color: rgba(255, 235, 205, 0.632);
}
iframe {
  width: 560px;
  height: 315px;
}

form,
input {
  font-size: 5rem;
}
#submit {
  background-color: rgba(255, 235, 205, 0.632);
  border-radius: 10px;
  box-shadow: 1px 1px 3px brown;
}
#about-us {
  display: grid;
  text-align: center;
  color: rgb(97, 60, 11);
}

li {
  background-image: url("https://i.ibb.co/spWNNT8P/vecteezy-ai-generated-cute-cartoon-potato-icon-kawaii-potato-clipart-42367952.png");
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 30px;
  background-size: 6rem;
}
#item-cards {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem;
  margin-top: 4rem;
}
.card {
  overflow: hidden;
  margin: 25px;
  display: grid;
  border-radius: 5rem;
  background-color: hsla(34, 57%, 70%, 0.708);
  width: 20vw;
  border: 2px dashed black;
}
.button {
  background-color: rgba(255, 235, 205, 0.632);
  margin: 2rem 6rem;
  padding: 1rem;
  width: auto;
}
label,
.button {
  border-radius: 15%;
  font-size: 4rem;
}
@media screen and (max-width: 420px) {
  html {
    font-size: 31%;
  }
  #item-cards {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, ifr);
    gap: 1rem;
    margin-top: 4rem;
  }
  .card {
    overflow: hidden;
    margin: 10px;
    display: grid;
    border-radius: 5rem;
    background-color: hsla(34, 57%, 70%, 0.708);
    width: 40vw;
    border: 2px dashed black;
  }
}
