html {
  font-size: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
}

header {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}
.main-section table {
  justify-self: center;
}
.main-section ol {
  justify-self: left;
}
#navbar {
  position: sticky;
  top: 0;
  background-color: rgb(255, 230, 0);
  border: 2px solid black;
}
#navbar a {
  display: flex;

  padding: 25px 25px 25px 0;
}
a {
  text-decoration: none;
  text-shadow: 2px 2px #820808;
}
@media (min-width: 768px) {
  #navbar {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 4px;
    max-width: 250px;
    height: 100vh;
  }
  #navbar a {
    max-width: 200px;
    margin: 60px 0;
  }
  #main-doc {
    position: absolute;
    top: 300px;
    left: 275px;
  }

  .main-section p {
    text-align: center;
  }

  h1 {
    text-align: center;
    position: absolute;
    left: 275px;
  }
}
figure {
  float: left;
}
figcaption {
  font-size: 0.5em;
  max-width: 308px;
}
th {
  border: 2px solid black;
}
tr {
  background-color: blanchedalmond;
  border: 2px solid #820808;
}
code {
  display: block;
  max-width: 80vw;
  border: 3px solid peru;
  background-color: blanchedalmond;
  border-radius: 10px;
}
